<p id="notice"><%= notice %></p>

<h1>User Profiles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>First name</th>
      <th>Father name</th>
      <th>Grand father name</th>
      <th>Profession title</th>
      <th>Directorate</th>
      <th>Role</th>
      <th>Cv</th>
      <th>Upload picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_profiles.each do |user_profile| %>
      <tr>
        <td><%= user_profile.user %></td>
        <td><%= user_profile.first_name %></td>
        <td><%= user_profile.father_name %></td>
        <td><%= user_profile.grand_father_name %></td>
        <td><%= user_profile.profession_title %></td>
        <td><%= user_profile.directorate %></td>
        <td><%= user_profile.role %></td>
        <td><%= user_profile.cv %></td>
        <td><%= user_profile.upload_picture %></td>
        <td><%= link_to 'Show', user_profile %></td>
        <td><%= link_to 'Edit', edit_user_profile_path(user_profile) %></td>
        <td><%= link_to 'Destroy', user_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Profile', new_user_profile_path %>
