<p id="notice"><%= notice %></p>

<h1>My weekly plans</h1>
            <!--Section: Basic examples-->
            <section>
                                                
<div class="card">
  <div class="card-body">
    <table id="datatables" class="table table-striped table-bordered table-responsive-md" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Plan title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.weekly_plans.each do |weekly_plan| %>
      <tr>
        <td><%= weekly_plan.plan_title rescue nil %></td>
        <td>
        <%= link_to 'Show', weekly_plan, class: 'btn btn-info' %>
        <%= link_to 'Edit', edit_weekly_plan_path(weekly_plan), class: 'btn btn-info' %>
        <%= link_to 'Destroy', weekly_plan, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weekly Plan', new_weekly_plan_path, class: 'btn btn-info' %>

  </div>
</div>
