<p id="notice"><%= notice %></p>

<h1>Weekly Plans</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Plan title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weekly_plans.each do |weekly_plan| %>
      <tr>
        <td><%= weekly_plan.user %></td>
        <td><%= weekly_plan.plan_title %></td>
        <td><%= link_to 'Show', weekly_plan %></td>
        <td><%= link_to 'Edit', edit_weekly_plan_path(weekly_plan) %></td>
        <td><%= link_to 'Destroy', weekly_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weekly Plan', new_weekly_plan_path %>
